@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 992px) {
    
}

body, html{
    background-color: lightgrey;

}

header{
    background-color: rgb(165, 165, 165);

}

header > h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: block;
}

menu > ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(75, 74, 74);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}
menu a:hover{
    background-color: gray;
}

menu{
    display: none;
}

span#burguer{
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

span#burguer:hover{
 background-color: white;   
 color: black;
 cursor: pointer;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2{
    padding-bottom: 10px;

}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
